@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --logo-bg: #2E7348;
    --logo-color: #E6B544;

    --ijo-primary: #23583A;
    --ijo-400: #093F20;

    --shade-3: #64686C;
    
  }
  
  /* @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;

      --logo-bg: #E6B544;
      --logo-color: #2E7348; */
    }
  
    
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
    
@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.animate-loading {
  animation: loading 2s infinite;
}

.header-bg {
  background: radial-gradient(circle, #549B68 65%, #05130A 140%, #E6B544 65%);
  padding: 20px;
}

.search-bar-wrapper {
  background: radial-gradient(circle, #549B68 65%, #05130A 140%, #E6B544 65%);
  padding: 20px; 
  border-radius: 0px; 
}



